@font-face {
    font-family: 'montheavy';
    src: url('fonts/mont-heavy-webfont.eot');
    src: url('fonts/mont-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/mont-heavy-webfont.woff2') format('woff2'),
         url('fonts/mont-heavy-webfont.woff') format('woff'),
         url('fonts/Mont-Heavy.ttf') format('truetype'),
         url('fonts/mont-heavy-webfont.svg#montheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100% !important;
}

body {
    display: flex;
    min-height: 100vh !important;
    flex-direction: column;
}

nav {
    background-color: #ffb181;
    min-height: 11vh;
}

#logo {
    height: 9vh;
    padding-left: 5%;
}

.main {
    flex: 1 0 auto;
    background-color: #ffb181;
    min-height: 100%;
}

#detail-img {
    position: absolute;
    top: 25vh;
    right: 0;
    height: 25vh;
}

.container {
    min-height: 100%;
}

h2 {
    line-height: 70%;
    margin: 1rem 0 1rem 0;
    font-family: 'montheavy', Helvetica, sans-serif !important;
}

.row .col.s5 {
    margin: 0 !important;
    height: 10vh;
    background-color: #ffffff;
    border-right: 1px solid #ff724f;
}

.input-field {
    margin-bottom: 0;
}

.main .row .col.s2 {
    margin: 0 !important;
    width: auto;
    background-color: #ff724f;
    height: 10vh;
}

.btn-flat {
    color: #ffffff;
}

.page-footer {
    background-color: #ffffff;
    min-height: 16vh;
    padding-top: 4vh;
}

.page-footer .container {
    width: 80%;
}

.footer-text {
    color: #808080;
}

.page-footer .partners {
    background-color: transparent;
    width: 30%;
}

#middle {
    margin-left: 4%;
    margin-right: 4%;
}

@media only screen and (min-width: 993px){
    .main .container {
        width: 51% !important;
    }
}